.about__description {
  font-weight: @light;
  font-size: 16px;
  line-height: 22px;

  @media (min-width: 768px) {
    font-size: 28px;
    line-height: 33px;
  }

  @media (min-width: 1440px) {
    line-height: 34px;
  }
}

.about__slogan {
  font-size: 16px;
  line-height: 22px;

  @media (min-width: 768px) {
    font-size: 21px;
    line-height: 25px;
  }

  @media (min-width: 1440px) {
    line-height: 24px;
  }
}

// ПАДДИНГИ ДЛЯ СЕКЦИЙ МОЖНО БУДЕТ ВЫНЕСТИ КАЖДОЙ СЕКЦИИ В PAGE MAIN

.about {
  outline: 5px solid fade(blue, 50%);
  padding: 0 25px;

  @media (min-width: 768px) {
    padding: 0 40px;
  }

  @media (min-width: 1440px) {
    padding: 0 60px;
  }
}

.about__wrapper {
  outline: 5px solid fade(blue, 50%);

  @media (min-width: 768px) {
    padding: 0 36px;
  }

  @media (min-width: 1440px) {
    padding: 0 70px;
  }
}

.about__header {
  padding: 0 25px;

  @media (min-width: 768px) {
    padding: 0;
  }
}

.about__button {
  display: none;

  @media (min-width: 768px) {
    display: inline;
  }
}
