.about {
  .set-border-radius(@br: 30px, @bl: 30px);

  @media (min-width: @tablet-width) {
    .set-border-radius(@br: 60px, @bl: 60px);
  }
}

.about__wrapper {
  .set-padding(@t: 31px, @b: 83px);

  @media (min-width: @tablet-width) {
    .set-padding(@t: 133px, @b: 89px);
  }

  @media (min-width: @desktop-width) {
    .set-padding(@t: 129px, @b: 0);
  }
}

.about__header {
  padding: 0 35px 0 24px;

  @media (min-width: @tablet-width) {
    margin: 0 0 54px 0;
    padding: 0 51% 0 35px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;

    grid-column: ~"1 / 3";
    .set-padding(@r: 0, @l: 70px);
  }
}

.about__title {
  .set-margin(@b: 20px);

  @media (min-width: @tablet-width) {
    .set-margin(@b: 41px);
  }
}

.about__subtitle {
  .set-margin(@b: 19px);

  @media (min-width: @tablet-width) {
    .set-margin(@b: 32px);
  }
}

.about__button {
  display: none;

  @media (min-width: @tablet-width) {
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;

    position: relative;
    z-index: 2;

    display: inline-grid;
    align-items: center;

    margin: 0 0 0 34px;
    padding: 27px 35px 29px 33px;

    color: #1d2e5b;
    border-radius: 20px;
    background: #ffd74b;

    column-gap: 0.9em;
    grid-template-columns: minmax(auto, 175px) min-content;

    &::after {
      flex-shrink: 0;

      width: 14px;
      height: 14px;

      content: "";

      .set-sprite-background(14px, 14px, @utils-triangle-arrow-right);
    }
  }

  @media (min-width: @desktop-width) {
    margin: 0;

    grid-column: ~"1 / 3";
  }
}

.about__mobile-br {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.about__tablet-br {
  display: none;
}
