.business-rates-list__price {
  margin: 0;
}

.business-rates-list__item {
  border-top: 1px solid #e1e3e9;

  &:last-of-type {
    border-bottom: 1px solid #e1e3e9;
  }

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr auto;
  }
}
