.button--square-round {
  font-size: 18px;
  font-weight: bold;
  line-height: 1;

  display: inline-grid;
  align-items: center;

  min-width: 100%;
  padding: 22px 22px 22px 22px;

  text-decoration: none;

  color: #1d2e5b;
  border-radius: 10px;
  background: #ffd74b;

  column-gap: 1.3em;
  grid-template-columns: 1fr 14px;

  @media (min-width: @tablet-width) {
    padding: 29px 32px;
    font-size: 24px;
    border-radius: 20px;
  }
}

.button--square-round::after {
  height: 15px;

  content: "";

  background-image: url("data:image/svg+xml,%3Csvg width='10' height='14' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 14' fill='%231D2E5B'%3E%3Cpolygon points='0,14 0,0.1 10,7.1 '/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 14px;
}

.button--transparent {
  font-size: 18px;
  font-weight: bold;
  line-height: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 19px;

  color: #1d2e5b;
  border: 3px solid #192144;
  border-radius: 10px;

  @media (min-width: @tablet-width) {
    font-size: 24px;

    padding: 24px 31px 26px 34px;

    border-radius: 20px;
  }
}

.button--transparent svg {
  flex-shrink: 0;

  fill: currentColor;

  @media (min-width: @tablet-width) {
    width: 14px;
    height: 14px;
  }
}
