.catalog-companions {
  outline: 5px solid fade(green, 50%);
  outline-offset: -5px;

  padding: 0 25px;

  @media (min-width: 768px) {
    padding: 0 40px;
  }

  @media (min-width: 1440px) {
    padding: 0;
    padding-right: 25px;
  }
}

.catalog-companions__list {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: 5px solid fade(red, 50%);
  outline-offset: -5px;
}

.catalog-companions__item {
  @media (min-width: 1440px) {
    display: flex;
  }
}

.catalog-companions__wrapper {
}
