.companions-list__item {
  background-color: #FFFFFF;
}

.companions-list__user {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: #1d2e5b;

  @media (min-width: 768px) {
    font-size: 24px;
    line-height: 22px;
  }

  @media (min-width: 1440px) {
    //
  }
}

.companions-list__hashtag-list {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #444444;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 23px;
  }

  @media (min-width: 1440px) {
    //
  }
}
