.form-features__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  &::after {
    content: "down";
  }

  @media (min-width: 768px) {
    font-weight: @medium;
    font-size: 20px;
    line-height: 20px;

    &::after {
      content: ":";
    }
  }

  @media (min-width: 1440px) {
    line-height: 22px;

    &::after {
      content: "down";
    }
  }
}

.form-features__label {
  font-size: 15px;
  line-height: 20px;
  color: #000000;

  @media (min-width: 768px) {
    font-weight: @medium;
    font-size: 20px;
  }

  @media (min-width: 1440px) {
    //
  }
}

.form-features__section {
  @media (min-width: 1440px) {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;

    border: none;
  }
}

.form-features__label {
  @media (min-width: 1440px) {
    margin-bottom: 16px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
