.page-footer {
  margin-top: -35px;
  padding: 0 25px;

  text-align: center;

  background-color: #ffffff;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;

  @media (min-width: 768px) {
    padding: 0 40px;
  }

  @media (min-width: 1440px) {
    padding: 0 60px;
  }
}

.page-footer__logo {
  display: block;
  margin-bottom: 40px;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.page-footer__socials {
  margin-bottom: 40px;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.page-footer__wrapper {
  padding-top: 37px;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 46px;
    padding-bottom: 32px;
  }

  @media (min-width: 1440px) {
    display: grid;

    column-gap: 60px;

    grid-template-areas: "page-footer__logo page-footer__socials page-footer__socials page-footer__copyright";
    grid-template-columns: repeat(4, 1fr);
  }
}

.page-footer__logo {
  @media (min-width: 1440px) {
    grid-area: page-footer__logo;
  }
}

.page-footer__socials {
  @media (min-width: 1440px) {
    grid-area: page-footer__socials;
  }
}

.page-footer__copyright {
  @media (min-width: 1440px) {
    grid-area: page-footer__copyright;
  }
}
