.plans {
  .set-background(@color: @basic-gray-dark);
  .set-border-radius(@tl: 30px, @tr: 30px);
}

.plans__wrapper {
  .set-padding(@t: 28px);

  @media (min-width: @tablet-width) {
    .set-padding(@t: 50px);
  }

  @media (min-width: @desktop-width) {
    .set-padding(@t: 53px);
  }
}

.plans__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .set-margin(@b: 31px);
  .set-padding(@r: 15px);

  @media (min-width: @tablet-width) {
    .set-margin(@b: 59px);
    .set-padding(@l: 34px);
  }

  @media (min-width: @desktop-width) {
    grid-column: ~"1 / -1";
    .set-padding(@l: 68px);
    .set-margin(@b: 55px);
  }
}

.plans__title {
  .set-font(@font-size: 24px, @line-height: 1, @color: @basic-blue-light);
  .set-margin(@t: 0, @b: 0);

  @media (min-width: @tablet-width) {
    .set-font(@font-size: 36px);
  }
}

.plans__progress-bar {
  @media (min-width: @desktop-width) {
    display: none;
  }
}
