.promo {
  background-color: #182044;
}

.promo__slogan {
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;

  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 70px;
  }

  @media (min-width: 1440px) {
    text-align: left;
  }
}

.promo__blockquote-quote {
  font-weight: @light;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;

  @media (min-width: 768px) {
    font-size: 28px;
    line-height: 33px;
  }

  @media (min-width: 1440px) {
    line-height: 32px;
  }
}

.promo__blockquote-author {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;

  @media (min-width: 768px) {
    font-size: 21px;
    line-height: 25px;
  }

  @media (min-width: 1440px) {
    line-height: 24px;
  }
}
