.register {
  position: relative;

  &::after {
    position: absolute;
    z-index: 1;

    width: 100%;
    height: 30px;

    content: "";

    border-radius: 0 0 30px 30px;
    background: #192144;
  }

  @media (min-width: @tablet-width) {
    &::after {
      height: 60px;

      border-radius: 0 0 60px 60px;
    }
  }
}

.register__wrapper {
  text-align: center;

  .set-padding(@t: 100px);

  @media (min-width: @tablet-width) {
    .set-padding(@t: 132px);
  }

  @media (min-width: @desktop-width) {
    .set-padding(@t: 165px);
  }
}

.register__title {
  .set-margin(@b: 20px);

  @media (min-width: @tablet-width) {
    .set-margin(@b: 60px);
  }

  @media (min-width: @desktop-width) {
    .set-margin(@b: 30px);
    grid-column: ~"1 / -1";
  }
}

.register__subtitle {
  font-weight: @light;
  line-height: 22px;

  .set-margin(@b: 30px);
  .set-padding(@r: 20px, @l: 20px);

  &:last-of-type {
    margin: 0 0 17px 0;
  }

  @media (min-width: @tablet-width) {
    font-size: 28px;
    line-height: 32px;

    .set-margin(@b: 68px);

    &:last-of-type {
      .set-margin(@b: 41px);
    }
  }

  @media (min-width: @desktop-width) {
    grid-column: ~"1 / -1";
  }
}

.register__link {
  color: #ffd74b;
}

.register__form {
  .set-margin(@b: 28px);

  @media (min-width: @tablet-width) {
    .set-margin(@b: 57px);
  }

  @media (min-width: @desktop-width) {
    grid-column: ~"1 / -1";
  }
}

.register-mobile-br {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.register__contact-list {
  @media (min-width: @desktop-width) {
    grid-column: ~"1 / -1";
  }
}
