.register__link {
  color: #ffd74b;
  // Возможно потребуется замена из-за данной декорации
  text-decoration: underline;
}

.register__input {
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
  color: fade(#444444, 30%);

  &::placeholder {
    color: fade(#444444, 30%);
  }

  @media (min-width: 768px) {
    font-size: 24px;
  }

  @media (min-width: 1440px) {
    //
  }
}

.register__contact-list {
  color: #ffd74b;
}

.register {
  padding: 0 25px;

  outline: 5px solid fade(blue, 50%);

  @media (min-width: 768px) {
    padding: 0 40px;
  }

  @media (min-width: 1440px) {
    padding: 0 60px;
  }
}

.register__wrapper {
  outline: 5px solid fade(blue, 50%);

  @media (min-width: 768px) {
    padding: 0 36px;
  }

  @media (min-width: 1440px) {
    padding: 0 70px;
  }
}
