.selected-countries-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.selected-countries-list__text-area {
  width: 100%;
  min-height: 220px;
  padding-top: 11px;
  padding-left: 14px;

  font-size: 16px;
  line-height: 22px;
  color: #444444;

  border: 1px solid #cbced9;
  border-radius: 4px;

  resize: vertical;
}
