.steps-list__item {
  font-weight: bold;
  font-size: 18px;
  line-height: 1;

  // Возможно потребуются изменения
  &--special-orange {
    background-color: #ff8d30;
  }

  &--orange {
    background-color: #FFA530;
  }

  &--special-yellow-dark {
    background-color: #FFBD30;
  }

  &--basic-yellow {
    background-color: #FFD74B;
  }

  @media (min-width: 768px) {
    font-size: 24px;
  }

  @media (min-width: 1440px) {
    //
  }
}
