.user-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-list__button {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: 1440px) {
    //
  }
}
